{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'first.css' %}">
</head>
<body>
    
    <div class="topnav">
            <ul>
                <li>
                  <a href="/">HOME</a>
                </li>
                <li>
                  <a href="/polls">Languages</a>
                </li>
            </ul>
        <div class="text-center">
            {% block content %}
            {% endblock %}
        </div>      

    </div>
</body>
</html>
